{% extends 'portal/base.html' %}
{% block content %}

<div class="content">
    <div class="container" id="news">
        <h3 style="display: inline;" class="title_section">Últimas noticias</h3>
        
            <a id="form_button" href="{% url 'portal:new_form' %}" style="margin-left: 5%;">
                <button>Nueva noticia</button>
            </a>
        {% if lastest_news_list %}
        <table>
            {% for new in lastest_news_list%}
            <tr class="clickable-row" data-href="v1/news/{{ new.id }}">
                <th><a href="v1/news/{{ new.id }}">
                    <h2> {{ new.title }} </h2>
                    <p>{{ new.subtitle }}</p>
                </a></th>
                
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No hay noticias disponibles</p>
        {% endif %}
    </div>
    
    <div class="container" id="events">
        <h3 class="title_section">Próximos eventos</h3>
        {% if next_events_list %}
        <table>
            {% for event in next_events_list%}
            <tr>
                <th><a href="v1/events/{{ event.id }}">
                    <h2> {{ event.title}} </h2>
                    <p> {{ event.subtitle}} </p>
                </a></th>
            </tr>
        {% endfor %}
        </table>
        {% else %}
            <p>No hay eventos disponibles</p>
        {% endif %}
    </div>
    
</div>
{% endblock %}
  