{% extends 'portal/base.html' %}
{% block content %}

<div style="margin-left: 5%; margin-right: 5%;">

    <div style="text-align: center;">
        <h1>{{ new.title }}</h1>
    </div>

    <div style="text-align: center;">
        <img src="/media/{{ new.image }}" alt="{{ new.image }}">
    </div>
    
    <div>
        <h4>{{ new.subtitle }}</h4>
    </div>

    <div style="text-align: right;">
        <p style="font-size: small;">{{ new.publish_date }}</p>
    </div>

    <div>
        <p>{{ new.body }}</p>
    </div>

    <a id="form_button" href="{% url 'portal:edit_new_class' new.id %}" style="float: left;">
        <button style="background-color: mediumvioletred;">Editar</button>
    </a>

    <a id="form_button" href="{% url 'portal:edit_new' new.id %}" style="float: right;">
        <button style="background-color: green;">Editar</button>
    </a>

    <a id="form_button" href="{% url 'portal:delete_new' new.id %}" style="float: right;">
        <button style="background-color: green;">Eliminar</button>
    </a>
        
</div>
{% endblock %}
