{% load static %}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}">

<div id=navbar>
    <ul id="navbar"> 
        <li><a href="#home">Gymkana Django</a></li>
    </ul>
</div>

<div style="margin-left: 5%; margin-right: 5%;">

    <div style="text-align: center;">
        <img src="/media/{{ new.image }}" alt="{{ new.image }}">
    </div>

    <div style="text-align: center;">
        <h1>{{ new.title }}</h1>
    </div>
    
    <div>
        <h4>{{ new.subtitle }}</h4>
    </div>

    <div style="text-align: right;">
        <p style="font-size: small;">{{ new.publish_date }}</p>
    </div>

    <div>
        <p>{{ new.body }}</p>
    </div>
        
</div>
